# Exercício 1 - Ligações para o 911

### Nos EUA, o número 911 é destinado à emergências. O [Kaggle](https://www.kaggle.com/mchirico/montcoalert) disponibilizou dados de ligações para o serviço:

* lat: Variável String, Latitude
* lng: Variável String, Longitude
* desc: Variável String, Descrição da Chamada de Emergência
* zip: Variável String, CEP
* título: Variável String, Título
* timeStamp: Variável String, AAAA-MM-DD HH: MM: SS
* twp: Variável String, Township
* addr: Variável String, Endereço
* e: Variável String, variável Dummy (sempre 1)

### Leia o arquivo csv (911.csv) como um dataframe chamado _calls_

In [40]:
import pandas as pd

In [2]:
call = pd.read_csv('911.csv')
call.head(5)
#call.tail(5)

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

### Quantas linhas e colunas tem o arquivo? Qual a quantidade de memória necessária para carregá-lo?

In [3]:
# cumber ofo rows call.shape[0]
# number of columns call.shape[1]
call.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lat        99492 non-null  float64
 1   lng        99492 non-null  float64
 2   desc       99492 non-null  object
 3   zip        86637 non-null  float64
 4   title      99492 non-null  object
 5   timeStamp  99492 non-null  object
 6   twp        99449 non-null  object
 7   addr       98973 non-null  object
 8   e          99492 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 6.8+ MB

In [4]:
call.memory_usage()

Index           128
lat          795936
lng          795936
desc         795936
zip          795936
title        795936
timeStamp    795936
twp          795936
addr         795936
e            795936
dtype: int64

In [5]:
call.memory_usage(index=True).sum()

7163552

### Quais são os top 5 CEPs nas chamadas 911?

In [6]:
call['zip'].value_counts().head()

19401.0    6979
19464.0    6643
19403.0    4854
19446.0    4748
19406.0    3174
Name: zip, dtype: int64

In [7]:
call['zip'].value_counts().index

Float64Index([19401.0, 19464.0, 19403.0, 19446.0, 19406.0, 19002.0, 19468.0,
              19454.0, 19090.0, 19038.0,
              ...
              19138.0, 19490.0, 19127.0, 77316.0, 19107.0, 19139.0, 36107.0,
              19457.0, 17752.0, 19119.0],
             dtype='float64', length=104)

### Quais são os 5 principais municípios nas chamadas 911?

In [8]:
call['twp'].value_counts().head()

LOWER MERION    8443
ABINGTON        5977
NORRISTOWN      5890
UPPER MERION    5227
CHELTENHAM      4575
Name: twp, dtype: int64

In [9]:
call['twp'].value_counts().index

Index(['LOWER MERION', 'ABINGTON', 'NORRISTOWN', 'UPPER MERION', 'CHELTENHAM',
       'POTTSTOWN', 'UPPER MORELAND', 'LOWER PROVIDENCE', 'PLYMOUTH',
       'HORSHAM', 'MONTGOMERY', 'UPPER DUBLIN', 'WHITEMARSH',
       'UPPER PROVIDENCE', 'LIMERICK', 'SPRINGFIELD', 'WHITPAIN',
       'EAST NORRITON', 'LANSDALE', 'HATFIELD TOWNSHIP', 'LOWER POTTSGROVE',
       'LOWER MORELAND', 'TOWAMENCIN', 'LOWER GWYNEDD', 'WEST NORRITON',
       'UPPER GWYNEDD', 'FRANCONIA', 'LOWER SALFORD', 'CHESTER COUNTY',
       'DOUGLASS', 'CONSHOHOCKEN', 'SKIPPACK', 'HATBORO', 'NEW HANOVER',
       'WORCESTER', 'WEST CONSHOHOCKEN', 'AMBLER', 'JENKINTOWN',
       'UPPER HANOVER', 'BRIDGEPORT', 'UPPER POTTSGROVE', 'ROYERSFORD',
       'WEST POTTSGROVE', 'TELFORD', 'PERKIOMEN', 'COLLEGEVILLE', 'SOUDERTON',
       'PENNSBURG', 'BUCKS COUNTY', 'UPPER FREDERICK', 'NORTH WALES',
       'MARLBOROUGH', 'RED HILL', 'TRAPPE', 'BERKS COUNTY', 'NARBERTH',
       'UPPER SALFORD', 'DELAWARE COUNTY', 'LOWER FREDERICK', 'ROCKLEDGE',
       'SCHWENKSVILLE', 'EAST GREENVILLE', 'HATFIELD BORO', 'BRYN ATHYN',
       'SALFORD', 'GREEN LANE', 'PHILA COUNTY', 'LEHIGH COUNTY'],
      dtype='object')

### Quantos códigos de título únicos existem?

In [10]:
call['title'].unique()

array(['EMS: BACK PAINS/INJURY', 'EMS: DIABETIC EMERGENCY',
       'Fire: GAS-ODOR/LEAK', 'EMS: CARDIAC EMERGENCY', 'EMS: DIZZINESS',
       'EMS: HEAD INJURY', 'EMS: NAUSEA/VOMITING',
       'EMS: RESPIRATORY EMERGENCY', 'EMS: SYNCOPAL EPISODE',
       'Traffic: VEHICLE ACCIDENT -', 'EMS: VEHICLE ACCIDENT',
       'Traffic: DISABLED VEHICLE -', 'Fire: APPLIANCE FIRE',
       'EMS: GENERAL WEAKNESS', 'Fire: CARBON MONOXIDE DETECTOR',
       'EMS: UNKNOWN MEDICAL EMERGENCY', 'EMS: UNRESPONSIVE SUBJECT',
       'Fire: VEHICLE ACCIDENT', 'EMS: ALTERED MENTAL STATUS',
       'Fire: FIRE ALARM', 'EMS: CVA/STROKE',
       'Traffic: ROAD OBSTRUCTION -', 'EMS: SUBJECT IN PAIN',
       'EMS: HEMORRHAGING', 'EMS: FALL VICTIM', 'EMS: ASSAULT VICTIM',
       'EMS: SEIZURES', 'EMS: MEDICAL ALERT ALARM',
       'EMS: ABDOMINAL PAINS', 'Fire: PUMP DETAIL',
       'Fire: FIRE INVESTIGATION', 'EMS: OVERDOSE', 'EMS: MATERNITY',
       'EMS: UNCONSCIOUS SUBJECT', 'EMS: CHOKING', 'EMS: LACERATIONS',
       'Fire: TRASH/DUMPSTER FIRE', 'Fire: UNKNOWN TYPE FIRE',
       'Fire: BUILDING FIRE', 'Fire: ELECTRICAL FIRE OUTSIDE',
       'Fire: DEBRIS/FLUIDS ON HIGHWAY',
       'Traffic: DEBRIS/FLUIDS ON HIGHWAY -', 'EMS: FEVER',
       'EMS: ALLERGIC REACTION', 'Traffic: VEHICLE LEAKING FUEL -',
       'EMS: FRACTURE', 'Fire: BURN VICTIM', 'EMS: BURN VICTIM',
       'Fire: RESCUE - GENERAL', 'Fire: WOODS/FIELD FIRE',
       'EMS: RESCUE - GENERAL', 'Fire: FIRE SPECIAL SERVICE',
       'Fire: VEHICLE FIRE', 'Traffic: VEHICLE FIRE -',
       'EMS: WARRANT SERVICE', 'Fire: S/B AT HELICOPTER LANDING',
       'EMS: EMS SPECIAL SERVICE', 'Traffic: HAZARDOUS ROAD CONDITIONS -',
       'Fire: RESCUE - ELEVATOR', 'EMS: FIRE SPECIAL SERVICE',
       'EMS: DEHYDRATION', 'EMS: CARBON MONOXIDE DETECTOR',
       'EMS: BUILDING FIRE', 'EMS: APPLIANCE FIRE', 'EMS: SHOOTING',
       'EMS: POISONING', 'Fire: TRANSFERRED CALL',
       'Fire: RESCUE - TECHNICAL', 'EMS: RESCUE - TECHNICAL',
       'Fire: VEHICLE LEAKING FUEL', 'EMS: EYE INJURY',
       'EMS: ELECTROCUTION', 'EMS: STABBING', 'Fire: FIRE POLICE NEEDED',
       'EMS: AMPUTATION', 'EMS: ANIMAL BITE', 'EMS: FIRE ALARM',
       'EMS: VEHICLE FIRE', 'EMS: HAZARDOUS MATERIALS INCIDENT',
       'EMS: RESCUE - ELEVATOR', 'EMS: FIRE INVESTIGATION',
       'Fire: MEDICAL ALERT ALARM', 'EMS: UNKNOWN TYPE FIRE',
       'EMS: GAS-ODOR/LEAK', 'Fire: TRAIN CRASH',
       'Fire: HAZARDOUS MATERIALS INCIDENT', 'EMS: TRANSFERRED CALL',
       'EMS: TRAIN CRASH', 'EMS: RESCUE - WATER',
       'EMS: S/B AT HELICOPTER LANDING',
       'Fire: UNKNOWN MEDICAL EMERGENCY', 'Fire: RESCUE - WATER',
       'EMS: CARDIAC ARREST', 'EMS: PLANE CRASH', 'Fire: PLANE CRASH',
       'EMS: WOODS/FIELD FIRE', 'Fire: CARDIAC ARREST',
       'Fire: EMS SPECIAL SERVICE', 'Fire: UNCONSCIOUS SUBJECT',
       'EMS: HEAT EXHAUSTION', 'EMS: DEBRIS/FLUIDS ON HIGHWAY',
       'EMS: ACTIVE SHOOTER', 'EMS: DISABLED VEHICLE',
       'Fire: POLICE INFORMATION', 'Fire: DIABETIC EMERGENCY',
       'EMS: BOMB DEVICE FOUND', 'Fire: SYNCOPAL EPISODE',
       'EMS: INDUSTRIAL ACCIDENT', 'EMS: DROWNING', 'EMS: SUSPICIOUS'],
      dtype=object)

In [11]:
len(call['title'].unique())

110

### Na coluna _title_ existem Razões / Departamentos especificados antes do código do título. Estes são _"EMS", "Fire"  e  "Traffic"_. Crie uma nova coluna chamada _Reason_ que conterá esse valor em cada linha

#### Por exemplo, se o valor da coluna do título for EMS: BACK PAINS / BLESSOR, o valor da coluna Reason será EMS.

In [12]:
call.title.str.split(':')
call['Reason'] = call.title.apply(lambda title: title.split(':')[0])

In [13]:
call.head(5)

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,Reason
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1,EMS
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1,EMS
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1,Fire
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1,EMS
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1,EMS

### Qual é a razão mais comum para uma chamada do 911 com base nessa nova coluna?

In [14]:
call.Reason.value_counts()

EMS        48877
Traffic    35695
Fire       14920
Name: Reason, dtype: int64

In [15]:
call.Reason.value_counts().index

Index(['EMS', 'Traffic', 'Fire'], dtype='object')

In [16]:
call.Reason.value_counts().idxmax()

'EMS'

### Qual é o tipo de dados dos objetos na coluna *timeStamp*?

In [17]:
type(call['timeStamp'][0])

str

### Converta a coluna _timeStamp_ para DateTime

In [18]:
call['timeStamp'] = pd.to_datetime(call['timeStamp'])

In [19]:
call.head(5)

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,Reason
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1,EMS
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1,EMS
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1,Fire
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1,EMS
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1,EMS

In [20]:
type(call['timeStamp'][0])

pandas._libs.tslibs.timestamps.Timestamp

### Crie 3 novas colunas chamadas _Hour, Month e Day of Week_. Você criará essas colunas com base na coluna timeStamp

In [21]:
call['Hour'] = call.timeStamp.dt.hour
call['Month'] = call.timeStamp.dt.month
call['Day_of_Week'] = call.timeStamp.dt.day_of_week

In [22]:
call.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,Reason,Hour,Month,Day_of_Week
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1,EMS,17,12,3
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1,EMS,17,12,3
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1,Fire,17,12,3
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1,EMS,17,12,3
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1,EMS,17,12,3

### Observe como o dia da demana é um número inteiro de 0-6. Mapeie os nomes das seqüências reais para o dia da semana, nessa mesma coluna:

- 0 => Mon
- 1 => Tue
- 2 => Wed
- 3 => Thu
- 4 => Fri
- 5 => Sat
- 6 => Sun

In [ ]:
call['Day_of_Week'].replace([0,1,2,3,4,5,6],['Mon','Tue','Wed','Thu','Fri','Sat','Sun'])

In [23]:
call['Day_of_Week'] = call['Day_of_Week'].map({0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'})

In [24]:
call.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,Reason,Hour,Month,Day_of_Week
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1,EMS,17,12,Thu
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1,EMS,17,12,Thu
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1,Fire,17,12,Thu
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1,EMS,17,12,Thu
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1,EMS,17,12,Thu

### Qual a quantidade de chamadas de cada motivo (*Reason*) por mês?

In [25]:
gb = call.groupby(['Month','Reason'])

In [26]:
df = gb.size()
df.head()

Month  Reason
1      EMS        6063
       Fire       1905
       Traffic    5237
2      EMS        5413
       Fire       1869
dtype: int64

In [28]:
df.unstack()

Reason   EMS  Fire  Traffic
Month
1       6063  1905     5237
2       5413  1869     4185
3       5832  1590     3679
4       5680  1717     3929
5       5734  1573     4116
6       5720  1796     4270
7       6029  1901     4207
8       4508  1473     3097
12      3898  1096     2975

In [29]:
df.unstack(level=0)

Month      1     2     3     4     5     6     7     8     12
Reason
EMS      6063  5413  5832  5680  5734  5720  6029  4508  3898
Fire     1905  1869  1590  1717  1573  1796  1901  1473  1096
Traffic  5237  4185  3679  3929  4116  4270  4207  3097  2975

### Qual foi o dia com a maior quantidade de chamadas? Quantas chamadas foram executadas neste dia?

In [32]:
call.timeStamp.dt.date.value_counts()

2016-01-23    913
2016-02-24    679
2016-01-24    662
2016-01-12    588
2016-04-03    586
             ...
2016-02-07    255
2016-03-20    244
2016-05-01    140
2016-08-24    132
2015-12-10    115
Name: timeStamp, Length: 259, dtype: int64

In [33]:
call.timeStamp.dt.date.value_counts().head(1)

2016-01-23    913
Name: timeStamp, dtype: int64

### Levando-se em consideração apenas atendimentos feitos às sextas-feiras, qual a hora do dia com o maior número de chamadas?

In [36]:
s = call.groupby(by=['Day_of_Week', 'Hour']).size()
s

Day_of_Week  Hour
Fri          0       275
             1       235
             2       191
             3       175
             4       201
                    ...
Wed          19      686
             20      668
             21      575
             22      490
             23      335
Length: 168, dtype: int64

In [37]:
s.index

MultiIndex([('Fri',  0),
            ('Fri',  1),
            ('Fri',  2),
            ('Fri',  3),
            ('Fri',  4),
            ('Fri',  5),
            ('Fri',  6),
            ('Fri',  7),
            ('Fri',  8),
            ('Fri',  9),
            ...
            ('Wed', 14),
            ('Wed', 15),
            ('Wed', 16),
            ('Wed', 17),
            ('Wed', 18),
            ('Wed', 19),
            ('Wed', 20),
            ('Wed', 21),
            ('Wed', 22),
            ('Wed', 23)],
           names=['Day_of_Week', 'Hour'], length=168)

In [38]:
s.xs(key='Fri', level = 0)

Hour
0      275
1      235
2      191
3      175
4      201
5      194
6      372
7      598
8      742
9      752
10     803
11     859
12     885
13     890
14     932
15     980
16    1039
17     980
18     820
19     696
20     667
21     559
22     514
23     474
dtype: int64

In [41]:
s.xs(key='Fri', level = 0).max()

1039

### Levando-se em consideração os atendimentos relacionados a incêndio (*Reason* = *Fire*) qual a quantidade de chamados aos sábados?

In [42]:
j = call.groupby(by=['Reason', 'Day_of_Week']).size()
j

Reason   Day_of_Week
EMS      Fri            7315
         Mon            7240
         Sat            6685
         Sun            6456
         Thu            6993
         Tue            7222
         Wed            6966
Fire     Fri            2088
         Mon            2204
         Sat            2068
         Sun            2076
         Thu            2136
         Tue            2121
         Wed            2227
Traffic  Fri            5430
         Mon            5236
         Sat            4583
         Sun            3604
         Thu            5349
         Tue            5807
         Wed            5686
dtype: int64

In [43]:
j['Fire']['Sat']

2068