## Lista de Exercícios 4

In [ ]:
import numpy as np

### Exercício 1 - Considere o vetor [1, 2, 3, 4, 5], construa um novo vetor com três elementos 0 (zero) entre cada elemento do vetor.

**Resposta:**

```
array([1, 0, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 4, 0, 0, 0, 5])
```

In [18]:
import numpy as np

array = [1,2,3,4,5]
lenght = len(array)

for i in range(1, lenght):
    if i == 1:
        new_array = [i,0,0,0]
    else:
        new_array = np.append(new_array,[i,0,0,0])

new_array = np.append(new_array, array[lenght-1])
print(new_array)

[1 0 0 0 2 0 0 0 3 0 0 0 4 0 0 0 5]

### Exercício 2 - Crie uma matriz quadrada de 8 X 8 e preencha com o padrão de tabuleiro de xadrez, utilizando 0 (zero) para casas brancas e 1 (um) para casas pretas.

In [77]:
arr = np.zeros(64)
lenght = len(arr)
flag = False

for i in range(0, lenght):
    if flag == False:
        flag = True
    else:
        arr[i] = 1
        flag = False
    if i == 8 or i == 24 or i == 40 or i == 56:
        arr[i] = 1
        flag = False
    if i == 16 or i == 32 or i == 48:
        arr[i] = 0
        flag = True

new_arr = arr.reshape(8,8)              
print(new_arr)

[[0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]
 [0. 1. 0. 1. 0. 1. 0. 1.]
 [1. 0. 1. 0. 1. 0. 1. 0.]]

**Resposta:**

```
array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])
```

### Exercício 3 - Dado um array de 2 dimensões, como trocar 2 linhas entre si?

In [87]:
arr = np.array([10, 20, 30, 40, 50])
idx = [1, 0, 3, 4, 2]
arr[idx]

arr = np.arange(0,25)
print("Inicial:")
print(arr.reshape(5,5))

print("\nPrimeira troca:")
idx = [5,6,7,8,9,0,1,2,3,4,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]
print(arr[idx].reshape(5,5))

print("\nSegunda troca:")
idx = [0,1,2,3,4,5,6,7,8,9,15,16,17,18,19,10,11,12,13,14,20,21,22,23,24]
print(arr[idx].reshape(5,5))

Inicial:
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

Primeira troca:
[[ 5  6  7  8  9]
 [ 0  1  2  3  4]
 [10 11 12 13 14]
 [15 16 17 18 19]
 [20 21 22 23 24]]

Segunda troca:
[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [15 16 17 18 19]
 [10 11 12 13 14]
 [20 21 22 23 24]]

**Resposta:**

array inicial:
```
array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])
```

array com as linhas 0 e 1 trocadas entre si:
```
array([[ 5,  6,  7,  8,  9],
       [ 0,  1,  2,  3,  4],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])
```

array com as linhas 2 e 3 trocadas entre si:
```
array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [15, 16, 17, 18, 19],
       [10, 11, 12, 13, 14],
       [20, 21, 22, 23, 24]])
```

### Exercício 4 - Dado um array de 2 dimensões, como trocar 2 colunas entre si?

In [92]:
arr = np.array([
               [0,1,2,3,4],
               [5,6,7,8,9],
               [10,11,12,13,14],
               [15,16,17,18,19],
               [20,21,22,23,24]
               ])

i = [0,1,3,2,4]
print(arr[:,i])

[[ 0  1  3  2  4]
 [ 5  6  8  7  9]
 [10 11 13 12 14]
 [15 16 18 17 19]
 [20 21 23 22 24]]

**Resposta:**

array inicial:
```
array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])
```

array com as colunas 2 e 3 trocadas entre si:
```
array([[ 0,  1,  3,  2,  4],
       [ 5,  6,  8,  7,  9],
       [10, 11, 13, 12, 14],
       [15, 16, 18, 17, 19],
       [20, 21, 23, 22, 24]])
```

### Exercício 5 - Dado o array [1, 2, 3] criar o array [[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [108]:
arr = np.array([1,2,3])

for i in range(0,3):
    if i == 0:
        new_arr = np.append(arr, [1,2,3])
    else:
        new_arr = np.append(new_arr, [1,2,3])
    
new_arr.reshape(4,3)

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

**Resposta:**

```
array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])
```

### Exercício 6 - Dado o array [1, 2, 3] criar o array [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [113]:
arr = np.array([1,2,3])

for i in range(0,3):
    if i == 0:
        new_arr = ([arr[i],arr[i],arr[i]])
    else:
        new_arr = np.append(new_arr,[arr[i],arr[i],arr[i]])
    
new_arr.reshape(3,3)

array([[1, 1, 1],
       [2, 2, 2],
       [3, 3, 3]])

**Resposta:**

```
array([[1, 1, 1],
       [2, 2, 2],
       [3, 3, 3]])
```

### Exercício 7 - Dado o array [4, 95, 37, 64, 42, 19, 55, 38, 46, 83, 48, 67, 98, 21, 10, 88], obtenha todos os itens que estão entre 35 e 55.

In [123]:
arr = np.array([4,95,37,64,42,19,55,38,46,83,48,67,98,21,10,88])

idx = (arr>35)*(arr<56)
idex = np.where(idx)
arr[idex]

array([37, 42, 55, 38, 46, 48])

**Resposta:**

```
array([37, 42, 55, 38, 46, 48])
```


### Exercicio 8 - Considere um array com 100 elementos inteiros iniciando em 0. Dado um número randômico positivo e flutuante, descubra qual o elemento do array, mais próximo desse número.

In [124]:
arr = np.arange(0,101)
arr

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100])

In [125]:
f = np.random.uniform(0,100)
f

33.705368351282104

In [126]:
idx = (np.abs(arr - f)).argmin()
arr[idx]

34

### Exercicio 9 - Dado um array, substitua todos os valores inferiores a 10 por 10 e todos os valores superiores a 30 por 30.

In [127]:
np.random.seed(100)
arr = np.random.uniform(1, 50, 30)
arr

array([27.62684215, 14.64009987, 21.80136195, 42.39403048,  1.23122395,
        6.95688692, 33.86670515, 41.466785  ,  7.69862289, 29.17957314,
       44.67477576, 11.25090398, 10.08108276,  6.31046763, 11.76517714,
       48.95256545, 40.77247431,  9.42510962, 40.99501269, 14.42961361,
       22.153505  , 47.06146116, 41.06481956, 17.46948556,  9.59511223,
       19.26877027,  1.27873686, 13.36889132, 39.98746292,  1.74749359])

**Resposta**

array inicial:
```
array([27.62684215, 14.64009987, 21.80136195, 42.39403048,  1.23122395,
        6.95688692, 33.86670515, 41.466785  ,  7.69862289, 29.17957314,
       44.67477576, 11.25090398, 10.08108276,  6.31046763, 11.76517714,
       48.95256545, 40.77247431,  9.42510962, 40.99501269, 14.42961361,
       22.153505  , 47.06146116, 41.06481956, 17.46948556,  9.59511223,
       19.26877027,  1.27873686, 13.36889132, 39.98746292,  1.74749359])
```

array após as substituições:
```
array([27.62684215, 14.64009987, 21.80136195, 30.        , 10.        ,
       10.        , 30.        , 30.        , 10.        , 29.17957314,
       30.        , 11.25090398, 10.08108276, 10.        , 11.76517714,
       30.        , 30.        , 10.        , 30.        , 14.42961361,
       22.153505  , 30.        , 30.        , 17.46948556, 10.        ,
       19.26877027, 10.        , 13.36889132, 30.        , 10.        ])
```

In [133]:
arr[arr < 10] = 10
arr[arr > 30] = 30
arr

array([27.62684215, 14.64009987, 21.80136195, 30.        , 10.        ,
       10.        , 30.        , 30.        , 10.        , 29.17957314,
       30.        , 11.25090398, 10.08108276, 10.        , 11.76517714,
       30.        , 30.        , 10.        , 30.        , 14.42961361,
       22.153505  , 30.        , 30.        , 17.46948556, 10.        ,
       19.26877027, 10.        , 13.36889132, 30.        , 10.        ])